.dashboard-container {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: $white;
    display: flex;
    align-items: center;

    .glass-card {
        overflow-y: scroll;
    }
}