.how-it-works-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 110px 0 100px;

    ul > li + li {
        margin-top: 1rem;
    }
}
